<?xml version="1.0"?>

<model>
  <name>teo</name>
  <version>1.0</version>
  <sdf version='1.4'>teo.sdf</sdf>

  <author>
    <name>Raul</name>
    <name>Domingo </name>
    <email>me@my.email</email>
  </author>

  <description>
    Teo is the humanoid robot of the University Carlos III of Madrid.
  </description>
</model>
